@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h2>Produktu sarasas</h2>
</div>

<form method="post">
    <div class="input-group">
    <label>Pavadinimas</label> 
    <input type="text" id="Name"/>
    </div>
</form>